{% extends "base.html" %}

{% block content %}
<div class="card p-3 pt-2">
    <div class="d-flex">
        <h5 class="card-title mt-1 me-3">Card {{ questions.page }}/{{ questions.pages }}</h5>
        <a href="{{ url_for('test_detail', test_id=test_id) }}" class="fg-mid fs-4 mt-0">
            <i class="bi bi-box-arrow-in-left"></i>
        </a>
    </div>
    <ul class="list-group mt-2">
        {% for question in questions.items %}
            <li class="list-group-item">
                <div class="question-inner">
                    <a href="{{ url_for('edit_question', question_id=question.id) }}" class="question-title">{{ question.text }}</a>
                    <div class="li-question ms-2">
                        <button class="btn fg-mid p-0 me-2" type="button" onclick="markQuestion({{ question.id }});">
                            {% if question.is_marked %}
                                <i class="bi bi-star-fill marked-button"></i>
                            {% else %}
                                <i class="bi bi-star marked-button"></i>
                            {% endif %}
                        </button>
                        <button class="btn fg-mid p-0" type="button" data-bs-toggle="collapse" data-bs-target="#questionComment{{ question.id }}" aria-expanded="false" aria-controls="questionComment{{ question.id }}">
                            <i class="bi bi-caret-down-square-fill collapse-button"></i>
                        </button>
                    </div>
                </div>
                <div class="collapse" id="questionComment{{ question.id }}">
                  <div class="mt-3 mb-1 pt-2 li-question-comment">
                    {% if question.comment %}
                        {{ question.comment }}
                    {% else %}
                        Looks empty in here...
                    {% endif %}
                  </div>
                </div>
            </li>
        {% endfor %}
    </ul>
    {% if questions.has_prev or questions.has_next %}
    <div class="card-footer bg-dark p-0 mt-3">
        {% if questions.has_prev and not questions.has_next %}
            <a href="{{ url_for('run_test', test_id=test_id, page=questions.prev_num, only_marked=only_marked, per_page=questions.per_page) }}" class="btn bg-primary-light fg-light card-btn">Back</a>
        {% endif %}
        {% if questions.has_prev and questions.has_next %}
            <a href="{{ url_for('run_test', test_id=test_id, page=questions.prev_num, only_marked=only_marked, per_page=questions.per_page) }}" class="btn bg-primary-light me-3 fg-light card-btn">Back</a>
        {% endif %}
        {% if questions.has_next %}
            <a href="{{ url_for('run_test', test_id=test_id, page=questions.next_num, only_marked=only_marked, per_page=questions.per_page) }}" class="btn bg-primary-light fg-light card-btn">Next</a>
        {% endif %}
    </div>
    {% endif %}
</div>
{% endblock %}
